*{
    margin: 0;
    padding: 0;
}

.active{
    display: block  !important;
}

.text{
    display: none;
    font-size: 20px;
}

.blocks{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
}

.blocks p{
    padding: 5px 10px;
    cursor: pointer;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

.texts{
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}